* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url(../img/fondo1.jpg);
  }
  
  /* Cuadro principal */
  .form-register {
    width: 500px;
    background: #ff7927;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 50px;
    font-family: 'calibri';
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  /* Cuadros de texto */
  .controls {
    width: 100%;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffe562;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(8, 8, 8);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #ffad2b;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
  }

  