:root {
    --primario: rgb(29, 91, 149);
    --secundario: rgb(52, 106, 206);
    --blanco: #fff;
    --negro: #000;
    --fuente: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    background: url(../img/azul.jpg) no-repeat center center fixed;
    background-size: cover;
    

}



*,*:before,*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    /* background-color: rgba(0, 0, 0, 0.507); */
    font-size: 1.6rem;
}

.search {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
}

.buscador {
    background-color: var(--primario);
    padding: 2rem;
    border-radius: 20px;
}

.icon {
    /* background-color: rgb(69, 194, 146); */
    margin-left: 2rem;
    border-radius: 50%;


}

.buscar {
    border: none;
    border-radius: 2rem;
    outline: none;
    font-size: 2rem;
    transition: .3s;
    font-family: var(--fuente);

}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    font-size: 5rem;
    font-weight: bold;
    color: var(--blanco);
}

.but {
    display: flex;
    justify-content: center;
}

.boton {
    margin-top: 30px;
    background-color: rgb(148, 146, 41);
    border-radius: 20px;
    padding: 15px 20px;
    color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

a:hover {
    color: rgb(72, 102, 25);
}
